body {
    font-family: Verdana, Arial, sans-serif;
    background-color: seagreen;
}

h1 {
    background-color: seagreen;
    color: white;
    font-size: 60px;
    border-bottom: 4px solid white;
}

h1:hover {
    color: lightgrey;
    background-color: seagreen;
    transition: all 500ms ease-in-out;
}

h2 {
    background-color: seagreen;
    color: white;
}

p {
    background-color: seagreen;
    color: white;
}