header {
    border-bottom: 4px solid white;
}

body {
    font-family: Verdana, Arial, sans-serif;
    background-color: seagreen;
}

h1 {
    background-color: seagreen;
    color: white;
    font-size: 60px;
    text-align: center;
}
h2.node {
    font-family: monospace;
}

h2 {
    background-color: seagreen;
    color: white;
}

p {
    background-color: seagreen;
    color: white;
    margin-left: 20px;
}

ul {
    color: white;
    padding: 8 px 0;
}
li {
    padding: 8 px 20 px;
    display: inline;
}

li.active {
    background-color: black;
}

footer{
    color: white;
    text-align: center;
    bottom: 0px;
}