html {
    background-color: #f8f8ff;
}

nav {
    display:inline-block;
    width:100%;
    right:0;
    text-align:center;
    font-size:1rem
}

body {
    font-family: Verdana, Arial, sans-serif;
}

h1 {
    font-size: 40px;
    text-align: center;
}
h2.node {
    font-family: monospace;
}

h2 {
    padding-left: 2pt;
}

p {
    padding-left: 2pt;
}

ul {
    padding: 8 px 0;
}
li {
    padding: 8 px 20 px;
    display: inline;
    font-size: 40 px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

footer{
    text-align: center;
    bottom: 0px;
}